/* Kosen css files. SuRa Kh 2015 */
html{
  position: relative;
  min-height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background-color: #eee;
  width: 100%;
}
.login{
  text-align: center;
  padding: 30px;
  margin-top: 200px;
  width: 350px;
  background-color: #10ADED;
  border-radius: 10px;
  
}
/* Home Button */
.home{
  margin: 0;
  padding: 15px 2px 0px 10px;
  font-size: 20px;
  color: #eee;
  height: 49px;
}
.home:hover,
.home:focus{
  color: #eee;
  background-color: #243D6F;
}
/* Navigation bar */

.kosen-nav{
  /*height: 70px;*/
  
}
.kosen-nav {
  background-color: #385381;
  border-color: #385381;
  /*border-color: #e7e7e7;*/
}
.kosen-nav .navbar-brand {
  color: #eee;
}
.kosen-nav .navbar-brand:hover,
.kosen-nav .navbar-brand:focus {
  color: #eee;
  background-color: #243D6F;
}
.kosen-nav .navbar-text {
  color: #eee;
}
.kosen-nav .navbar-nav > li > a {
  color: #eee;
}
.kosen-nav .navbar-nav > li > a:hover,
.kosen-nav .navbar-nav > li > a:focus {
  color: #eee;
  background-color: #243D6F;
}
.kosen-nav .navbar-nav > .active > a,
.kosen-nav .navbar-nav > .active > a:hover,
.kosen-nav .navbar-nav > .active > a:focus {
  color: #eee;
  background-color: #243D6F;
}
.kosen-nav .navbar-nav > .disabled > a,
.kosen-nav .navbar-nav > .disabled > a:hover,
.kosen-nav .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.kosen-nav .navbar-toggle {
  border-color: #ddd;
  background-color: #385381;
}
.kosen-nav .navbar-toggle:hover,
.kosen-nav .navbar-toggle:focus {
  background-color: #2d3d6f;
}
.kosen-nav .navbar-toggle .icon-bar {
  background-color: #ddd;
}
.kosen-nav .navbar-collapse,
.kosen-nav .navbar-form {
  border-color: #ddd;
}
.kosen-nav .navbar-nav > .open > a,
.kosen-nav .navbar-nav > .open > a:hover,
.kosen-nav .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.kosen-dropdown:active{
  background-color: #2d3d6f;
}

/*Kosen Button */

.kosen-btn {
  color: #fff;
  margin: auto;
  background-color: #385381;
  border-color: #2d3d6f;
}
.kosen-btn:hover,
.kosen-btn:focus,
.kosen-btn:active,
.open > .dropdown-toggle.kosen-btn {
  color: #fff;
  background-color: #2d3d6f;
  border-color: #385381;
}
.kosen-btn:active,
.open > .dropdown-toggle.kosen-btn {
  background-image: none;
}
/* SuRa navbar */

  .sura-navbar-container{
    width: 100%;
    max-width: 1000px;
    z-index: 10;
    position: absolute;
    top: 15px;
    left:50%;
    display: none;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    font-size: 130%;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.8);
  }
  .sura-navbar-container ul{
    text-decoration: none;
    padding: 0;
    list-style: none;
  }
  .sura-navbar-container ul>li{
    padding: 0 20px 0 20px;
    display: inline-block;
  }
  .sura-navbar-container ul > li a{
    color:#eee;
  }
  .sura-navbar-container ul > li a:hover{
    text-decoration: none;
    cursor: pointer;
    color:#ddd;
  }

/*Simple Side bar*/

/* Toggle Styles */
.kosen-wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
}

#sidebar-kosen-wrapper {
    z-index: 2000;
    position: fixed;
    left: 180px;
    width: 0;
    height: 100%;
    margin-top: -50px;
    margin-left: -180px;
    overflow-y: auto;
    background: #ddd;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.kosen-wrapper.toggled #sidebar-kosen-wrapper {
    width: 180px;
}

#content-kosen-wrapper {
    width: 100%;
    position: relative;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.kosen-wrapper.toggled #content-kosen-wrapper {
    margin-left: 180px;
    position: relative;
    /*margin-right: -180px;*/
    opacity: 0.5;
}

/* Sidebar Styles */

.sidebar-header,
.sidebar-body{
    position: relative;
    top: 0;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-body{
    padding-bottom: 20px;
}
.sidebar-footer {
    position: relative;
    width: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-header li{
    text-indent: 10px;
    height: 45px;
    font-size: 18px;
    line-height: 40px;
}
.sidebar-body li,
.sidebar-footer{
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-header > li > a,
.sidebar-body > li > a,
.sidebar-footer > li > a {
    display: block;
    text-decoration: none;
    color: #000;
}
.sidebar-header > li > a:hover,
.sidebar-footer > li > a:hover {
    text-decoration: none;
    font-weight: bolder;
    color: #385381;
    background: none;
}
.sidebar-body > li > a:hover{
    text-decoration: none;
    font-weight: bolder;
    color: #385381;
    background: rgba(100,100,100,0.2);
}
.sidebar-header > li > a:active,
.sidebar-header > li > a:focus,
.sidebar-body > li > a:active,
.sidebar-body > li > a:focus,
.sidebar-footer > li > a:active,
.sidebar-footer > li > a:focus {
    text-decoration: none;
}
.kosen-separator{
    width: 150px;
    height: 1px;
    margin: 0px 15px 0px 15px;
    overflow: hidden;
    background-color: #555;
}
.kosen-separator-1{
    width: 150px;
    height: 1px;
    margin: 50px 0px -20px 0px;
    overflow: hidden;
    background-color: #eee;
}
.kosen-separator-2{
    width: 150px;
    height: 1px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    background-color: #eee;
}
.prof-pic{
    margin-top: -6px;
    margin-bottom: -6px;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    width: 30px;
    max-height: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center; 
}
#prof-settings{
    text-indent: 30px;
}

.kosen-container{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;  
}
.content-container{
        position: relative;
        width: 100%;
        /*height: 100%;*/
        /*max-width: 300px;*/
        margin:auto;
    }
@media(min-width:768px) {
    .kosen-wrapper{
    }
    .kosen-collapse{
        display: none;
    }

    #sidebar-kosen-wrapper {
        display: none;
        position: absolute;
        z-index: 7;
        left: 15%;
        margin-left: -13%;
        width: 180px;
        min-height: 100%;
    }

    .kosen-wrapper.toggled #sidebar-kosen-wrapper {
        width: 180px;
    }
    #content-kosen-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        padding-right: 0px;
        margin-right: 0px;
    }
    .content-container{
      padding-left: 200px;
    }
    .content-container-dashboard{
      padding-left: 200px;
    }

    .kosen-wrapper.toggled #content-kosen-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-right: 0px;
         opacity: 1;
    }
}

/* User search */


ul.search-box{
  padding-top: 10px;
  text-decoration: none;
  list-style: none;
  padding-left: 15px;
  width: 100%;
  /*margin: auto;*/
}
ul.search-box li{
  display: inline-block;
}
.search-input{
  padding-top: 10px;
  width: 65%;
  max-width: 350px;
}
li.search-button{
  width: 30%;
  max-width: 85px;
}
/* More Button */
#btn-more:focus{
  outline: none;
}
#btn-more.search-toggled{
  background-color: #888;
}
/* Options */
td.prefecture{
  border: 1px solid #fff;
  font-size: 10px;
  padding: 1px 1.5px 1px 1.5px;
  cursor: pointer;
}
td.prefecture:hover{
  background-color: #888;
  font-size: 11px;
  font-weight: bold;
}
.prefecture.active{
  background-color: #888;
  font-size: 12px;
  font-weight: bold;
}
td a{
  text-decoration: none;
  color: #000;
}
td a:hover{
  text-decoration: none;
  color: #000;
}
.more-menu{
  font-size: 12px;
  display: none;
}
.more-menu label{
  text-indent: 5px;
}
.more-menu .form-control{
  width: 100%;
  font-size: 12px;
  max-width: 350px;
  height: 30px;
  margin-bottom: 10px;
}
.more-menu .btn{
  font-size: 12px;
  height: 30px;
  margin-bottom: 5px;
}
.more-menu .btn-group{
  display: block;
}
.japan-map,
#sel3{
  display: none;
}
#search-toggle1{
  display: none;
}
@media(min-width:768){
  td.prefecture{
    border: 1px solid #fff;
    font-size: 90%;
    padding: 3px;
    cursor: pointer;
  }
}