body{
  margin: 0;
  padding: 0;
}

/* Slider Design */

.s-slider-wrapper{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.caption{
  width: 100%;
  position: absolute;
  margin: auto;
  float: right;
}
.s-slider h2,
.s-slider blockquote{
  padding: 100px 30px 10px 30px;
  width: 80%;
  max-width: 960px;
  color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}
.s-slider h2{
  font-size: 100px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0, 2);
}
.s-slider blockquote{
  font-size: 28px;
  padding-top: 10px;
  font-weight: 300;
  text-shadow:0 -1px 0 rgba(0,0,0,0, 2);
}
.s-slider blockquote cite {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 30px;
  display: inline-block;
}

.s-bg-img{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Login Menu */
.login-menu{
  position: relative;
  padding-bottom: 100px;
}
.contact-link{
  text-align: right;
  padding-right: 10px;
}
.contact-link > a{
  text-shadow: 0 -1px 0 rgba(0,0,0,0, 2);
  text-decoration: none;
  font-size: 120%;
  color: #fff;
}
.contact-link > a:hover,
.contact-link > a:active,
.contact-link > a:focus{
  color: #ddd;

}
/* login-form */
.kosen-login-container{
  position: absolute;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
  margin: auto;
}
.kosen-login-form{
  position: relative;
  top: 50%;
  margin: auto;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  
}
.kosen-login-box{
  margin: auto;
  z-index: 101;
  padding: 10px;
  width: 100%;
  max-width: 350px;
  opacity: 0.8;
  border-radius: 10px;
}
.kosenName{
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0, 2);
}
@media(min-width:768px) {
  .kosenName{
    font-size: 80px;
    font-weight: bolder;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0, 2);
  }
  .plsJoin{
    font-size: 80px;
    font-weight: bolder;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0, 2);
  }
  .kosen-login-box{
    padding: 20px;
    width: 100%;
    border-radius: 20px;
  }
}

.registerCheckbox{
	margin-left: 25px;
}
.plsJoin{
    font-size: 30px;
    font-weight: bolder;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0, 2);
}

.login-message{
  color: #a94442;
}

/* Q&A form */
.question-container{
  width: 100%;
  min-height: 100%;
  height: auto;
  background-color: #eee;
}
.question-form{
  padding-left: 20px;
  padding-right: 20px;
  max-width: 700px;
  min-height: 100%;
  margin: auto;
  background-color: #fff;
}
.question-form label{
  padding-top: 10px;
  padding-bottom: 5px;
}
/*.question-btn{
  margin: auto;
  font-size: 130%;
  max-width: 150px;
  margin-top: 20px;
  background-color: #5A64BE;
}*/
.question-btn {
  color: #fff;
  margin: auto;
  font-size: 130%;
  max-width: 150px;
  margin-top: 20px;
  background-color: #385381;
  border-color: #243D6F;
}
.question-btn:hover,
.question-btn:focus,
.question-btn:active,
.open > .dropdown-toggle.question-btn {
  color: #fff;
  background-color: #243D6F;
  border-color: #385381;
}
.question-btn:active,
.open > .dropdown-toggle.question-btn {
  background-image: none;
}

.login-logo{
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100px;
  height: 60px;
}

.spacer{
  width: 100%;
  height: 200px;
}
.spacer-small{
  width: 100%;
  height: 80px;
}
.sura-right{
  float: right;
  margin-bottom: 10px;
}

