.kosen-footer
{
	position: absolute;
	bottom: 0;
	background-color: #385381;
	z-index: 1000;
	height:70px;
	width: 100%;
}
.kosen-footer.toggled{
	opacity: 0.5;
}
@media(min-width:768px) {
	.kosen-footer.toggled{
	opacity: 1.0;
}	
}