/* Slider css. SuRa Kh 2015*/
.slide-container{
	z-index: 1000;
	margin-right: 50px;
	padding: 0;
	margin: auto;
	position: relative;
	width: 100%;
	height: 250px;
	left: 50%;
	overflow: hidden;
	-webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}
.slides{
	width: 100%;
	-webkit-transition: all 1s;
}
.slides div{
	z-index: -1;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: hidden;
}
.slides div > img{
	z-index: -1;
	position:absolute;
	left:50%;
	top:50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.navigator{
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	z-index: 10;
	opacity: 0.5;
}
.navigator div{
	overflow: hidden;
	position: absolute;
	width: 12px;
	height: 12px;
	background: url(../img/slide/b21.png) no-repeat;
	background-size: 72px 18px;
	background-position: -3px -3px;
	
}
.navigator div:hover,
.navigator div:focus{
	background-position: -21px -3px;
}
.navigator > .current-nav,
.navigator >.current-nav { 
	background-position: -39px -3px; 
}
.navigator >.current-nav:hover,
.navigator >.current-nav:focus { 
	background-position: -57px -3px; 
}
.arrow-left,
.arrow-right{
	display: block;
	position: absolute;
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: url(../img/slide/a21.png) center center no-repeat;
	overflow: hidden;
	top: 50%;
	-webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.arrow-left{
	background-position: -243px -33px;
	left: 0px;
}
.arrow-left:hover,
.arrow-left:focus{
	background-position: -123px -33px;
}
.arrow-right{
	background-position: -303px -33px;
	right: 0px;
}
.arrow-right:hover,
.arrow-right:focus{
	background-position: -183px -33px;
}



